<h3>Izmena linija</h3>
<form>
    <div class="form-group row">
        <label for="inputBrMesta" class="col-sm-2 col-form-label">Broj mesta</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputBrMesta" ng-model="linija.brojMesta">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputCena" class="col-sm-2 col-form-label">Cena karte</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputCena" ng-model="linija.cena">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputDestinacija" class="col-sm-2 col-form-label">Destinacija</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputDestinacija" ng-model="linija.destinacija">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputVremePolaska" class="col-sm-2 col-form-label">Vreme polaska</label>
        <div id="inputVremePolaska" uib-timepicker show-meridian="false" ng-model="linija.vremeDate"
            ng-change="updateVremePolaska()">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPrevoznik" class="col-sm-2 col-form-label">Prevoznik</label>
        <div class="col-sm-10">
            <select class="form-control" ng-model="linija.prevoznikId" ng-options="p.id as p.naziv for p in prevoznici">
            </select>
        </div>
    </div>
    <input type="button" value="Izmeni" ng-click="editLinija(linija)">
</form>
<a href="#!/">Nazad</a>