<div class="dodavanjeLinija">
    <h3>Dodavanje linija</h3>
    <form>
        <div class="form-group row">
            <label for="inputBrMesta" class="col-sm-2 col-form-label">Broj mesta</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputBrMesta" ng-model="linija.brMesta">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputCena" class="col-sm-2 col-form-label">Cena karte</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputCena" ng-model="linija.cena">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputDestinacija" class="col-sm-2 col-form-label">Destinacija</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputDestinacija" ng-model="linija.destinacija">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputVremePolaska" class="col-sm-2 col-form-label">Vreme polaska</label>
            <div id="inputVremePolaska" uib-timepicker show-meridian="false" ng-model="linija.vremeDate"
                ng-change="updateVremePolaska()">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPrevoznik" class="col-sm-2 col-form-label">Prevoznik</label>
            <div class="col-sm-10">
                <select class="form-control" ng-model="linija.prevoznikId">
                    <option ng-repeat="p in prevoznici" value="{{p.id}}">{{p.naziv}}</option>
                </select>
            </div>
        </div>
        <input type="button" value="Dodaj" class="btn btn-primary" ng-click="addLinija(linija)">
    </form>
</div>
<div class="pretragaLinija">
    <h3>Pretraga linija</h3>
    <form>
        <div class="form-group row">
            <label for="inputDestinacija" class="col-sm-2 col-form-label">Destinacija</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputDestinacija" ng-model="search.destinacija">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPrevoznik" class="col-sm-2 col-form-label">Prevoznik</label>
            <div class="col-sm-10">
                <select class="form-control" ng-model="search.prevoznikId">
                    <option value=""></option>
                    <option ng-repeat="p in prevoznici" value="{{p.id}}">{{p.naziv}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputMaxCena" class="col-sm-2 col-form-label">Maksimalna cena</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputMaxCena" ng-model="search.maxCena">
            </div>
        </div>
        <input type="button" value="Trazi" class="btn btn-primary" ng-click="getLinije(true)">
    </form>
    <div class="button" style="float:right">
        <button type="button" ng-click="prevPage()" ng-disabled="search.page == 1"
            class="btn btn-primary">Prethodna</button><button type="button" ng-click="nextPage()"
            ng-disabled="search.page == totalPages" class="btn btn-primary">Sledeca</button>
    </div>
</div>
<div class="prikazLinija">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Naziv prevoznika</th>
                <th scope="col">Destinacija</th>
                <th scope="col">Broj mesta</th>
                <th scope="col">Vreme polaska</th>
                <th scope="col">Cena karte</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="l in linije">
                <td>{{l.prevoznik.naziv}}</td>
                <td>{{l.destinacija}}</td>
                <td>{{l.brojMesta}}</td>
                <td>{{l.vremePolaska}}</td>
                <td>{{l.cena}}</td>
                <td><input type="button" class="btn btn-primary" value="Rezervisi" ng-click="reserve(l.id)" /></td>
                <td><a ng-href="#!/edit/{{l.id}}" class="btn btn-warning">Izmeni</a></td>
                <td><input type="button" class="btn btn-danger" value="Obrisi" ng-click="deleteLinija(l.id)" /></td>
            </tr>
        </tbody>
    </table>
</div>